.base-layout {
  display: grid;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.outer-card {
max-width: 600px;
  align-self: center;
}

.inner-card {
  align-items: center;
}

#btn-calculate {
  align-content: end;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}