<app-toolbar></app-toolbar>
<div class="base-layout">
  <form class="form">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
          <mat-label>Preencha o valor</mat-label>
          <input
            currencyMask
            matInput
            placeholder="mínimo R$ 0,01"
            [formControl]="value"
            (blur)="updateValueErrorMessage()"
            required
            autocomplete="off">
            <mat-error *ngIf="value.invalid">{{valueErrorMessage()}}</mat-error>
        </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
          <mat-label>Preencha o intervalo</mat-label>
          <input
            type="number"
            matInput
            placeholder="mínimo 2 meses"
            [formControl]="interval"
            (blur)="updateIntervalErrorMessage()"
            required
            autocomplete="off">
            <mat-error *ngIf="interval.invalid">{{intervalErrorMessage()}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="value.invalid || interval.invalid"
        (click)="calculate()">Calcular
      </button>
      <button
        mat-raised-button
        (click)="reset()">Limpar
      </button>
    </div>
  </form>

  <mat-card appearance="outlined" class="outer-card">
    <mat-card-header>
      <mat-card-title> Rendimento </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card appearance="outlined" class="inner-card">
        <mat-card-header>
          <mat-card-subtitle> Valor bruto </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        {{ resultModel.grossValue | currency:'BRL' }}
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card appearance="outlined" class="inner-card">
        <mat-card-header>
          <mat-card-subtitle> Valor Líquido </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        {{ resultModel.netValue | currency:'BRL' }}
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>