.base-layout {
  display: grid;
  justify-content: center;
  align-items: center;
}

.form {
  width: 600px;
  margin: 16px 0px 16px 0px;
}

table {
  width: 100%;
}

td {
  padding-right: 8px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 30%;
  margin: 4px;
}

.outer-card {
  max-width: 600px;
  align-self: center;
}

.inner-card {
  align-items: center;
}